body {
        color: brown;!important;
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center ;
        font-style: italic;
        font-weight: 300;
        font-size: larger;
        line-height: normal;    
    }
h1 {
        color:red;!important;
        text-align: center;
        font-weight: 800;
        font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
        font-size: xx-large;
    }
    p{
         background-color:white;!important;
        font-size: xx-large;
        line-height: 1.5;
    }
