body {
font-family: Arial, Helvetica, sans-serif;
margin: 20px;
line-height: 1.6;
}

h1 {
    color: red; 
    text-align: center;
    font-style: italic;
    font-weight: bold;
    font-family: Georgia, serif;
    font-size: 32px;
    }

    p {
    font-size: 18px;
    }